[submodule "src/org/powerbot/game/api"]
	path = src/org/powerbot/game/api
	url = git@github.com:powerbot/RSBot-API.git
[submodule "src/org/powerbot/beta"]
	path = src/org/powerbot/beta
	url = git@github.com:powerbot/RSBot.git
